.aboutCard{
    border: 1px solid #14971F;
    margin: 1em;
    padding: 0.25em 1em;
    text-align: left;
}

#aboutMe{
    display: grid;
    place-content: center;
}

#education{
    text-align: center;
}