/* Variables */
html{
    --themeDefault: #434343;
    --themeGreen: #14971F;
}

/* Normalizing values */

*{
    margin: 0;
    padding: 0;
}

/* Global CSS */
body{
    font-family: Nunito, Helvetica, Arial;
    font-size: 20px;
    color: var(--themeDefault);
    height: 100%;
    overflow: hidden;
}

h1{
    margin: 1em;
}

p{
    line-height: 1.5em;
    margin: 0.5em;
}

a{
    text-decoration: none;
    color: var(--themeDefault);
}

a:hover{
    color: var(--themeGreen);
}

ul{
    list-style: none;
}

li{
    margin: 0.5em;
}

/* Page CSS */
header{
    text-align: center;
    margin: 1em;
}

nav ul > *{
    display: inline;
}

nav ul a{
    color: var(--themeGreen);
    padding: 2em;
}

/* Global Classes*/

.selfies{
    max-width: 100%;
    height: 90%;
}

.icon{
    margin: 0 0.5em;
}

.greenButton{
    border: 1px solid var(--themeGreen);
    background-color: var(--themeGreen);
    padding: 1em;
    border-radius: 25px;
}

.greenButton a{
    color: white;
}

.greenText{
    color: var(--themeGreen);
}

.signedText{
    /* color: var(--themeGreen); */
    text-decoration: underline;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    width: 80%;
    text-align: center;
}

.centeredCard{
    text-align: center;
    
    width: 50%;
    height: 20%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}