html{
    --themeDefault: #434343;
    --themeGreen: #14971F;
    --themeBackground: #F2F1E7;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Nunito, Helvetica, Arial;
    font-size: 20px;
    color: var(--themeDefault);
    background-color: var(--themeBackground);
    height: 100vh;
    overflow: hidden;
}

h1{
    margin: 0.75em;
}

p{
    line-height: 1.5em;
    margin: 0.5em;
}

a{
    text-decoration: none;
    color: var(--themeDefault);
}

a:hover{
    color: var(--themeGreen);
}

ul{
    list-style: none;
}

li{
    margin: 0.5em;
}

header{
    text-align: center;
    margin: 1em;
    min-height: 5vh;
}

main{
    display: flex;
    min-height: 80vh;
    align-content: center;
}

nav ul > *{
    display: inline;
}

nav ul a{
    color: var(--themeGreen);
    padding: 2em;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    min-height: 5vh;
}

footer > *{
    display: inline;
}

.selfies{
    max-width: 100%;
    height: 90%;
}

.icon{
    margin: 0 0.5em;
}

.greenButton{
    border: 1px solid var(--themeGreen);
    background-color: var(--themeGreen);
    padding: 1em 2em;
    border-radius: 25px;
}

.greenButton a{
    color: white;
}

.greenText{
    color: var(--themeGreen);
}

.centeredText{
    text-align: center;
}

.underlinedText{
    text-decoration: underline;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    width: 80%;
    text-align: center;
}

.centeredCard{
    text-align: center;
    
    width: 50%;
    height: 20%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}